.navbar {
    background: linear-gradient(90deg, #0F172A, #1E3A8A);
    padding: 15px 0;
}

.nav-link {
    color: #CBD5E1 !important;
    font-weight: 500;
    transition: .3s;
}

.nav-link:hover {
    color: #fff !important;
}

.btn-login {
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 24px;
    transition: .3s;
}

.btn-login:hover {
    background: #1D4ED8;
}